<br>
<div class="container">

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Newsletter Id" [(ngModel)]="newsletterId" aria-label="Newsletter Id" aria-describedby="button-search">
    <button class="btn btn-primary" type="button" id="button-search" (click)="searchNewsletter()" data-toggle="tooltip" title="Search">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </button>
  </div>

    <!-- <div class="input-group mb-3">
        <span class="input-group-text">Search</span>
        <input type="text" class="form-control" [(ngModel)]="newsletterId" placeholder="Newsletter Id">
    </div> -->
    <!-- Botón para crear un nuevo newsletter -->
    <!-- <button type="button" (click)="searchNewsletter()" class="btn btn-primary m-2" *ngIf="newsletterId != ''" data-toggle="tooltip" title="Search">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
      </svg>
    </button> -->

    <button class="btn btn-primary m-2 float-end"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#modal"
        data-toggle="tooltip" title="Add"
        (click)="addClick()">Add Newsletter
    </button>

    <!-- Lista de newsletters -->
    <div id="container"></div>

    <button class="btn btn-primary m-2"
                type="button"
                data-bs-toggle="modal"
                data-bs-target="#modal"
                data-toggle="tooltip" title="Edit"
                (click)="editClick()"
                *ngIf="this.showButtonUpdate">Edit</button>
  </div>

  <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-toggle="tooltip" title="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text">Title</span>
            <input type="text" class="form-control" [(ngModel)]="this.newsletter.title">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">Body</span>
            <textarea class="form-control auto-resize" [(ngModel)]="this.newsletter.htmlBody"></textarea>
          </div>
        </div>

        <div class="modal-footer">          
          <button type="button" (click)="createClick()" *ngIf="!this.isUpdate" data-toggle="tooltip" title="Create" class="btn btn-primary">Create</button>
  
          <button type="button" (click)="updateClick()" *ngIf="this.isUpdate" data-toggle="tooltip" title="Update" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>
  
